body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Cabecera */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

header > div > button {
    font-size: 1.1rem;
}

button, a {
    background-color: gray;
    color: white;
    padding: 8px 16px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
}

button:hover, a:hover {
    background-color: #adadad;
    color: black;
}
 
label {
    margin: 0; 
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

select {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 1rem;
}

select:hover {
    cursor: pointer;
}

input[type="number"] {
    width: 50%; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 1rem; 
}
header > a {
    margin-right: 1rem;
}

h1 {
    flex-grow: 1;
    margin: 0; 
    text-align: center;
}

/* Formulario */

form {
    width: 100%;
    max-width: 60vw;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

form > div {
    margin: 1rem 0 2rem 0;
    text-align: center;
}

/* radio buttons */

input[type="radio"] {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0.1rem solid black;
    margin-right: 10px;
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: #4290e2;
}

input[type="radio"]:checked:hover {
    background-color: #4290e2;
}

input[type="radio"]:hover {
    background-color: #98bbe0;
}

form > button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 20px;
}

form > button:hover {
    background-color: #505050;
}
