body {
    font-family: 'Arial', sans-serif; 
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;  
}

h1 {
    margin: 0;
    grid-column: 2;
    text-align: center;
}

p{
    text-align: center;
    font-size: 1.2rem;
    max-width: 50%;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px; 
}

header > div { 
    display: flex; 
    justify-content: end;  
}

main > div{
  margin-top: 5rem;
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

/* Boton de Entendido */

main > div > a { 
    padding: 12px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 5rem;
    max-width: 50%;
    text-decoration: none;
}

main > div > a:hover {
    background-color: #505050;
}

/* boton de lenguaje */

header > div > button {
    grid-column: 3;
    background-color: gray;
    color: white;
    padding: 8px 16px;
    text-align: center;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
}

header > div > button:hover {
    background-color: #adadad;
    color: black;
}